.EmotionItem {
    padding: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    background-color: none;
    transition: all 0.2s ease-in-out;
}
.EmotionItem:hover {
    transform: scale(1.05);
}
.EmotionItem img {
    width: 80%;
}
.EmotionItem.item_on_1{
     color: white;
    background-color: #FFDC33;
}
.EmotionItem.item_on_2{
    color: white;
    background-color: #6766FF;
}
.EmotionItem.item_on_3{
    color: white;
    background-color: #2EE5A9;
}

.EmotionItem.item_on_4{
    color: white;
    background-color: #FF9966;
}